<!DOCTYPE html>
<html>
<head>
  <style>
    /* Add some styling if needed */
  </style>
</head>
<body>
  <h1>Hello <%= name%>.</h1>
  <p>You get a new reply to your questions in this video "<%= title%>"</p>
  <p>Please login to your website to view the reply</p>
  <p>Thank you to connect with us.</p>
</body>
</html>
