<!DOCTYPE html>
<html>
<head>
  <style>
    /* Add some styling if needed */
  </style>
</head>
<body>
  <h1>You requested a password reset</h1>
  <p>Click this <a href="<%= resetUrl %>">link</a> to reset your password</p>
  <p>This link will expire in 1 hour</p>
</body>
</html>
